<form class="gen-premi">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Montepremi raccolto" [(value)]="TotalAmount" />
  </mat-form-field>

  <mat-checkbox [(checked)]="Ambo1">Ambo generico</mat-checkbox>
  <mat-checkbox [(checked)]="Ambo2">Ambo lontano</mat-checkbox>
  <mat-checkbox [(checked)]="Terno">Terno</mat-checkbox>
  <mat-checkbox [(checked)]="Quaterna">Quaterna</mat-checkbox>
  <mat-checkbox [(checked)]="Cinquina">3 Cinquine (sopra, in mezzo, sotto)</mat-checkbox>
  <mat-checkbox [(checked)]="Tombola">Tombola</mat-checkbox>
  <mat-checkbox [(checked)]="Tombolino">Tombolino</mat-checkbox>

</form>
