.tda-container
  background: rgba(0, 0, 0, 0.1);
  flex: 1;

.tda-header
  position sticky
  top 0
  z-index 2


@media print
  /* All your print styles go here */
  .tda-header { display: none !important; }
