/* You can add global styles to this file, and also import other style files */
html {
    font-family: "Fira Sans";
    background-image: url(assets/background-pelle-1.jpg)
    background-size: auto
}
body {

}

tdn-root {
    margin-top: 5em;
    display: block;
    color: #ffffff;
}

* {
  box-sizing: border-box;
}

@page {
  size: A4 landscape;
}

@media print
  html, body {
    width: 210mm;
    height: 297mm;
  }
