/* You can add global styles to this file, and also import other style files */
html {
    font-family: "Fira Sans";
    background-image: url(assets/background-pelle-1.jpg)
    background-size: auto
}
body {

}